.login-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .login-title {
    margin-bottom: 24px;
    text-align: center;
  }
  
  .title {
    color: #1890ff;
  }
  
  .login-form {
    width: 300px;
  }
  
  .login-button {
    width: 100%;
  }